body {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
    font-family: cursive;
}

img {
    height: auto;
    max-width: 100%;
    max-height: fit-content;
    margin: 0 auto;
    display: block;
}

main{
    display: block;
}

#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.7;
    list-style-type: disc;
}

li{
    margin: 10px 0;
    display: list-item;
    font-size: 16px;
}

html{
    font-size: 10px;
}